{% extends 'base.html' %}

{% block title %} Dillutions {% endblock %}
{% block header %} Dillutions {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="dil_text">
            Give the dilution: <input type="number" name="dilution" class="dil">
            <input type="submit" name="dilution_submit" class="dil_submit"><br><br>
        </div>
        <table class="dil_table">
            {% for x in end_list %}
                <tr class="dil_tr">
                {% for i in x %}
                    <td class="dil_td">{{i}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}