{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block header %} ELISA App V1 {% endblock %}

{% block content %}

    {% load static %}
        <link rel="stylesheet" type="text/css"
          href="{% static 'css/home.css' %}">
    <div class="middle">
    <div class="wrapper" style="overflow: hidden; background-color: white">
        <div class="infocard">
            <p class="title">Introduction</p>
            <p>Welcome to the ELISA App!</p>
            <p>This app was developed to generate graphs and results from ELISA reader data in a convenient and streamlined manner.</p>
            <p>Check out "Getting Started" to start processing your data.</p>
        </div>
        <div class="infocard">
            <p class="title">Getting Started</p>
            <p>The menu on the left contains all the steps for data processing in order.</p>
            <p>Steps "Input Data", "Plate Layout", and "Dillutions" are for data input. Steps starting from "Visualize Data" will not be available unless all data has been input.</p>
            <p>Click on "Input Data" to get started!</p>
            <p>Please refer to the User Manual for detailed instructions on how to use the app.</p>
        </div>
    </div>

    <div class="wrapper" style="overflow: hidden; background-color: white">
        <div class="creditcard">
            <p class="title">Contact & Credits</p>
            <p style="line-height:0">Contact:</p>
            <p>Marc Maurits (<a href="mailto:m.p.maurits@lumc.nl">m.p.maurits@lumc.nl</a>)</p>
            <p>​</p>
            <p style="line-height:0; margin: 15px">Development:</p>
            <p>Casper Band,
            Aram de Keijzer,
            Mikaela van Rooij,
            David Schooneveld</p>

        </div>
    </div>
        </div>

{% endblock %}
