{% extends 'base.html' %}

{% block title %} Input Data {% endblock %}
{% block header %} Input Data {% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Paste your data here:</p>
        <textarea rows="20" cols="100" name="text_input"></textarea>
        <input type="submit" name="text_submit" value="Upload data"/>
        <br><br>
        <input type="file" name="my_file" multiple/>
        <input type="submit" name="file_submit" value="Upload data"/>
    </form>
    {% if check == 'text' %}
        <p>No data was found in the textarea, please try again.</p>
    {% endif %}
    {% if check == 'file' %}
        <p>No files were selected, please try again.</p>
    {% endif %}
    {% if check == 'correct' %}
        <p>Data was succesfully uploaded.</p>
    {% endif %}
    {% if check == 'extension' %}
        <p>Wrong file(s) were submitted, please try again. (allowed file types are .txt and .xlsx)</p>
    {% endif %}
    {% if check == 'false' %}
        <p>Input was not properly formatted, please try again.</p>
    {% endif %}
{% endblock %}