{% extends 'base.html' %}

{% block title %} Plate Layout {% endblock %}
{% block header %} Plate Layout {% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="my_file"/>
    <input type="submit" name="file_submit" value="Upload data"/><br>
{% if totaal != "" %}
    ST values of all plates: <input type="number" name="standaard"><br>
    <input type="submit" name="standaard_input" value="Update table">
{% endif %}
</form>
{% for i in totaal %}
    <table border="1">
        {% for j in i %}
        <tr>
            {% for k in j %}
            <td>{{k}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endfor %}
{% endblock %}