{% extends 'base.html' %}

{% block title %} Plate Layout {% endblock %}
{% block header %} Plate Layout {% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/Plate_layout.css' %}">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="plate_top">
        <input type="file" name="my_file" class="plate_file"/>
        <input type="submit" name="file_submit" value="Upload data" class="plate_button"/><br><br>
        {% if check == 'error' %}
            <p class="message_fail">No file was selected, please try again.</p>
        {% endif %}
    </div>
{% if check == 'go' %}
    <div class="plate_st_text">
        ST values of all plates: <input required type="number" name="standaard" class="plate_st_input">
        Divide number: <input required type="number" name="divide" class="plate_st_input"><br><br>
        Unit name: <input required type="text" name="unit" class="plate_st_input">
        <br><br>
        <input type="submit" name="standaard_input" value="Update table" class="plate_table_button">
    </div>
</form>
{% for i in totaal %}
    <table>
        {% for j in i %}
        <tr>
            {% for k in j %}
            <td>{{k}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endfor %}
{% endif %}
{% endblock %}