{% extends 'base.html' %}

{% block title %} Visualize Data{% endblock %}
{% block header %} Visualize Data {% endblock %}

{% block content %}
<form method="POST">
{% csrf_token %}
{% for key, value_list in dictionary.items %}
<div id="combined">
    <div id="table">
    <table border="1" class="raw_data">
        <thead>
            <td><input type="text" value="{{key}}" id="{{key}}"></td>
        </thead>
        {% for value in value_list %}
        <tr>
        {% for i in value %}
            <td>{{i}}</td>
        {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
    <div id="graph">
        <img src="../static/images/{{ key }}.png" height="250px" width="auto">
    </div>
    <div id="opties">
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSelect points for lineair part:</p>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbspTop:
        <select name="top" id="top">
          <option value="7">7</option>
          <option value="6">6</option>
          <option value="5">5</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
        </select>
        <br>Bottom:
        <select name="bottom" id="bottom">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
    </div>
    <div id="checkboxes">
        Checkbox for disregarding plate:<br>
        <input type="checkbox" name="delete" value="{{ key }}">
    </div>
</div>
{% endfor %}
<div id="Healthydonor">
    Choose the a plate with the healthy donor data:
    <select name="HD">
        {% for key, value_list in dictionary.items %}
        <option value="{{ key }}">{{ key }}</option>
        {% endfor %}
        <input type="submit" value="Confirm" id="spacing">
    </select>
</div>
</form>
{% endblock %}