{% extends 'base.html' %}

{% block title %} Visualize Data{% endblock %}
{% block header %} Visualize Data {% endblock %}

{% block content %}
{% for key, value_list in dictionary.items %}
    <div id="combined">
    <table border="1">
        <thead>
            <td>{{key}}</td>
        </thead>
        {% for value in value_list %}
        <tr>
        {% for i in value %}
            <td>{{i}}</td>
        {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div id="opties">
        <p>Linear part: point used well</p>
        Top:<input type="number">
        <select name="top" id="top">
          <option value="7">7</option>
          <option value="6">6</option>
          <option value="5">5</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
       </select>
       <select name="well_t" id="well_t">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="G">G</option>
       </select>
        <br>
        Bottom:<input type="number">
        <select name="bottom" id="bottom">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
           </select>
        <select name="well_b" id="well_b">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="G">G</option>
       </select>
   </div>
    </div>
{% endfor %}

{% endblock %}