{% extends 'base.html' %}

{% block title %} Visualize Data{% endblock %}
{% block header %} Visualize Data {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css"
          href="{% static 'css/Visualize_data.css' %}">

<form method="POST">
    {% csrf_token %}
    {% for key, value_list in dictionary.items %}
        <div id="combined">
            <div id="table">
                <table border="1" class="raw_data" onloadstart="test()">
                    <thead>
                        <th colspan="13">{{key}}</th>
                    </thead>
                    {% for value in value_list %}
                        <tr>
                            {% for i in value %}
                                <td style="background-color:rgb{{i.1}}">{{i.0}}</td>
                            {% endfor %}

                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="graph">
                <img src="../static/images/{{ key }}.png" height="250px" width="auto">
            </div>
            <div id="opties">
                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSelect points for linear part:</p>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbspTop:
                <select name="top" id="top">
                  <option value="7">7</option>
                  <option value="6">6</option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
                <br>Bottom:
                <select name="bottom" id="bottom">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </div>
            <div id="checkboxes">
                Remove plate from calculations:<br>
                <input type="checkbox" name="delete" value="{{ key }}" >
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% endfor %}
    {% if cut_off_type == '1' %}
    <div id="Healthydonor">
        Choose the plate with healthy donor data:
        <select name="HD">
            {% for key, value_list in dictionary.items %}
                <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
            <input type="submit" value="Confirm" id="spacing" name="Confirm1">
        </select>
    </div>
    {% endif %}
    {% if cut_off_type == '2' %}
    <div id="Healthydonor">
        Submit your options
        <input type="submit" value="Confirm" id="spacing" name="Confirm2">
    </div>
    {% endif %}
</form>
{% endblock %}
