.spacing {
    margin-left: 2%;
}

.left {
    position: relative;
    float: left;
}

.right {
    position: relative;
    float: right;
}

.input{
    font-size: 15pt;
    font-family: "Arial", serif;
}