.dil_table, .dil_td {
  border-collapse: collapse;
}

.dil_table {
  margin-left: 2%;
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 15pt;
  border-collapse: collapse;
  font-family: "Arial", serif;
}

.dil_td {
  width: 5%;
  border: 1px solid grey;
}

.dil_text {
  margin-left: 2%;
  margin-top: 2%;
  font-size: 15pt;
  font-family: "Arial", serif;
}

.dil {
  font-size: 15pt;
  font-family: "Arial", serif;
}

.dil_submit {
  font-size: 15pt;
  font-family: "Arial", serif;
}