.spacing {
    margin-left: 2%;
    font-size: 15pt;
    font-family: "Arial", serif;
}

.input_limit {
    font-size: 15pt;
    font-family: "Arial", serif;
}

td, th {
    border: 1px solid grey;
}

.table1 {
    margin-left: 2%;
    font-size: 15pt;
    font-family: "Arial", serif;
    border-collapse: collapse;
    border: 1px solid grey;
}

.table2 {
    margin-left: 2%;
    font-size: 15pt;
    font-family: "Arial", serif;
    border-collapse: collapse;
    border: 1px solid grey;
}