.spacing {
    margin-left: 2%;
    font-size: 15pt;
    font-family: "Arial", serif;
}

.input_limit {
    font-size: 15pt;
    font-family: "Arial", serif;
}

table {
    color: #333;
    background: white;
    border: 1px solid grey;
    border-collapse: collapse;
}

td, th {
    border: 1px solid grey;
}