#combined {
    position: relative;
}

#table {
    float: left;
}

#graph {
    float: left;
}

#opties {
    float: left;
}

#checkboxes {
    position: relative;
    float: right;
    margin-top: 1.3%;
    margin-left: 20px;
}

#number_top {
    width: 70px;
}

#number_bottom {
    width: 70px;
}

#Healthydonor {
    position: fixed;
    bottom: 2%;
    right: 2%;
}

#spacing {
    margin-left: 5px;
}