#combined {
    position: relative;
}

#table {
    float: left;
}

#graph {
    float: left;
}

#opties {
    float: left;
}

#checkboxes {
    position: relative;
    float: right;
    margin-top: 5%;
    margin-left: 20px;
}

#number_top {
    width: 70px;
}

#number_bottom {
    width: 70px;
}

#Healthydonor {
    position: fixed;
    bottom: 10px;
    right: 10px;
}